# Versiones anteriores de la API
control_versiones

# Variables de entorno 
.env
.venv

# Las downloads
downloads

# Cache de los pytest
.pytest_cache

.github
__pycache__

# Cosas que no usamos
deprecated