# Versiones anteriores de la API
control_versiones

# Variables de entorno 
.env
.venv

# Las downloads
downloads
temp_uploads

# Cache de los pytest
.pytest_cache

.github
__pycache__

# Cosas que no usamos
deprecated
ocr_test
POC_OCR
pdf_test
caratulas_test
transacciones_test

clasificador_motor_auditor.py
caratulas_motor_auditor.py
extraccion_motor_auditor.py
auditor_engine_pass1_*.py
engine_v2_copy.py
prueba_dc.py
ocr_tests
engine_v2_copy_mifel.py
nomiflash_tests

*.json