python-multipart
pydantic
pydantic-settings
anyio
requests
python-dotenv
openai
fastapi
uvicorn
PyMuPDF
pdfplumber
pytesseract
Pillow
python-dateutil
openpyxl
pytest-asyncio
pyzbar
fpdf2